# Ignore all `.zip` files in `7_week`
7_week/*.zip

# Ignore all `bin` directories under `glassfish-7.0.19`
7_week/glassfish-7.0.19/**/bin/

# Ignore all `config` directories under `domains`
7_week/glassfish-7.0.19/glassfish7/glassfish/domains/**/config/

# Ignore all `logs` directories
7_week/glassfish-7.0.19/glassfish7/glassfish/domains/**/logs/

# Ignore `.class` files globally
*.class
